@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');


.probPage{
    margin-top: 120px;
    font-family: 'Monda', sans-serif;
}

.Heading{
    text-align:center;
    margin-bottom: 50px;
  }
  
  .subHeading{
   text-align: center;
   font-size: 15px;
   font-weight: 700;
  }
  
  .longCard{
      border:2px solid slategrey;
      border-radius: 5px;
      display:flex;
      width: 60%; 
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      margin-bottom: 20px;
      padding:5px 0;
  }
  
  .longCard:hover{
      box-shadow: 0px 5px 9px gray;
      background-color: #a0c0de;
      
  }
  
  .Prob{
      padding-right:10px;
  }
  
  .probsWrapper>p{
      font-weight: 600;
  }

  .probsWrapper{
      margin-left:20px;
      padding-right: 15px;
      border-right: 2px solid black;
      height: 60px;   
  }
  
  .Desc{
      text-align: center;
  }
  
  .Upperdesc{
      font-size: 15px;
      margin-top: -3px;
      font-weight: 500;
  }
  
  .Middesc{
    font-size:10px;
    margin-top:-12px
  }
  
  
  .Lowerdesc{
    font-size:10px;
    margin-top:-5px
  }
  
  .subBtn{
    border: 2px solid black;
    padding:5px 10px;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: -5px;
  }
  
  .subbtnWrapper{
      margin-right: 20px;
      margin-top: 5px;
  }
  
  .subBtn:hover{
      border: 2px solid white;
      background-color:#0096ff;
      color: white;
      cursor: pointer;
  }