
.sectionWrapper>h3{

    color: #8B90A2;
    font-size:19px;
    font-weight: 700; 
}

.sectionWrapper{
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.footerWrapper{
    width: 100%;
    background-color: #172146;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px;
    margin-top: 50px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.sectionWrapper{
    text-align: left;
}

<<<<<<< HEAD
@media(max-width:600px){
    .footerWrapper{
        display: block;
        padding: 20px 0px;
    }
    .sectionWrapper{
        text-align: center;
        margin-bottom: 3rem;
    }
=======
.sectionWrapper img, .sectionWrapper span{
    margin:5px;
    vertical-align: middle;
}

.SocialMedia{
    display: flex;
    margin-top: 10px;
}

.SocialMedia img{
    width: 15px;
    height: 20px;
    margin: 10px;
>>>>>>> 51877472a6e61d6a63ae215b6bd5375acb75dce1
}