
.sectionWrapper>h3{

    color: #8B90A2;
    font-size:19px;
    font-weight: 700; 
}

.sectionWrapper>p{
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.footerWrapper{
    width: 100%;
    background-color: #172146;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px;
    margin-top: 50px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.sectionWrapper{
    text-align: left;
}